@CHARSET "UTF-8";
body{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: #F5F5F9;
}
.material_body{
	height:auto!important;
	height:440px;
	min-height: 440px;
	width:1440px;
}
.image_content{
	margin-left: 20px;
	height: 100%;
	width: 620px;
}
#material_source{
	float: left;
	margin-top: 30px;
}
#myCan{
	margin-left: 10px;
	margin-top: 70px;
	max-width: 160px;
 	max-height: 120px;
}
#target{
	/* margin-left: 20px;
	margin-top: 40px; */
	max-width: 380px;
	max-height: 280px;
	border: 8px solid white;
	background-color: rgba(245, 245, 249, 1);
}
#myCan , #target{
	float: left;
}
.image_info{
	height: 100%;
	width: 800px;
}
.image_content , .image_info{
	float: left;
}
.info_list{
	margin-top: 30px;
	margin-left: 30px;
	height: 36px;
}
.list_title{
	width: 60px;
	height: 36px;
	line-height: 36px;
	color: rgba(41, 48, 64, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
}
.list_content{
	height: 100%;
}
.list_title , .list_content{
	float: left;
}
#material_title_content{
	width: 244px;
	height: 36px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(223, 225, 230, 1);
}
.material_type_module{
	clear:left;
	width: 540px;
}
.material_type_info{
	float: left;
	width: 160px;
	height: 38px;
	margin-right: 10px;
}
.type_info_title{
	width: 60px;
	height: 36px;
	line-height: 36px;
	color: rgba(41, 48, 64, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
}
.type_info_content{
	height:38px;
	line-height: 38px;
	width: 100px;
}
.material_type_select{
	width: 100px;
	height: 36px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(223, 225, 230, 1);
	color: rgba(41, 48, 64, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
}
.type_info_title , .type_info_content{
	float: left;
}
.type_info_manage{
	margin-top:5px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(161, 166, 179, 1);
	color: rgba(41, 48, 64, 1);
	font-size: 30px;
	text-align: center;
	font-family: PingFangSC-Regular;
}
#material_label_content{
	width: 480px;
	height: 36px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(223, 225, 230, 1);
}
#personal_sketchpad{
	width: 180px;
	height: 36px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(223, 225, 230, 1);
	color: rgba(41, 48, 64, 1);
	font-size: 12px;
	text-align: center;
	font-family: PingFangSC-Regular;
}
.a-upload {
	width: 480px;
    height: 36px;
    line-height: 36px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}
#upload_material{
	margin-bottom:20px;
	width: 120px;
	height: 40px;
	border-radius: 3px;
	background-color: rgba(51, 51, 51, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	text-align: center;
	font-family: PingFangTC-Medium;
}

.material_footer{
	height:544px;
	width: 1440px;
	background-color: white;
}
.foot_head_list{
	width:960px;
	height: 100px;
	margin-left:auto;
	margin-right:auto;
}
.foot_title{
	float: left;
	height: 20px;
	line-height: 20px;
	margin-top: 40px;
	margin-left: 10px;
}
.foot_title_1{
	width: 90px;
	height: 20px;
	color: rgba(50, 50, 50, 1);
	font-size: 14px;
	text-align: left;
	font-family: PingFangSC-Medium;
}
#downloadModels:hover{
	color: orange;
}
.foot_list{
	float:left;
	width: 600px;
	height: 100px;
	margin-top: 30px;
}
.foot_list_contents{
	float:left;
	margin-left: 220px;
	width: 360px;
	height: 90px;
}
.foot_list_content{
	float: left;
}
.foot_content_img{
	float:left;
	width: 150px;
	height: 90px;
}
.description_title{
	margin-top:20px;
	width: 24px;
	height: 17px;
	color: rgba(50, 50, 50, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Medium;
}
.description_content{
	width: 204px;
	height: 17px;
	color: rgba(161, 166, 179, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
}