*{
    margin: 0;
    padding: 0;
    color: rgba(223, 225, 230, 1);
    border: 0px;
    text-decoration: none;
    list-style: none;
}
body{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 1024px;
    background-color: #F5F5F9;
}
.nav{
    width: 100%;
    height: 56px;
    background-color: rgba(40, 40, 40, 1);
}
.nav_list{
    float: left;
}
.logo{
    float: left;
    position: absolute;
    left: 232px;
    top: 10px;
    width: 120px;
    height: 36px;
}
.home{
    position: absolute;
    left: 357px;
    top: 19px;
    width: 28px;
    height: 20px;
    color: rgba(223, 225, 230, 1);
    font-size: 14px;
    text-align: left;
    font-family: PingFangSC-Semibold;
}
.material_library{
    position: absolute;
    left: 409px;
    top: 19px;
    width: 42px;
    height: 20px;
    opacity: 0.6;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    text-align: left;
    font-family: PingFangSC-Regular;
}
.work_management{
    position: absolute;
    left: 475px;
    top: 19px;
    width: 56px;
    height: 20px;
    opacity: 0.6;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    text-align: left;
    font-family: PingFangSC-Regular;
}
.search_box{
    position: absolute;
    left: 910px;
    top: 15px;
    width: 200px;
    height: 28px;
    opacity: 0.2;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(40, 40, 40, 1);
}
.search_map{
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    float: left;
    width: 24px;
    height: 24px;
}
.search_map{
    cursor: pointer;
}
.search_content{
    display: inline-block;
    width: 120px;
    float: left;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(40, 40, 40, 1);
}
.search_btn{
    margin-left: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.search_btn:hover{
    cursor: pointer;
}
.update{
    position: absolute;
    left: 1132px;
    top: 18px;
    width: 24px;
    height: 24px;
}
.update:hover{
    cursor: pointer;
}
.message{
    position: absolute;
    left: 1168px;
    top: 17px;
    width: 24px;
    height: 24px;
}
.message:hover{
    cursor: pointer;
}
.need_sign_in{
    position: absolute;
    left: 1209px;
    top: 17px;
    width: 24px;
    height: 24px;
}
.need_sign_in:hover{
    cursor: pointer;
}

.register_module{
    position: absolute;
    left: 360px;
    width: 500px;
    height: 560px;
}
.reg_info{
    width: 500px;
    height: 80px;
}
.reg_info div{
    float: left;
}
.info_title{
    margin-top: 30px;
    width: 56px;
    height: 20px;
    color: rgba(113, 119, 135, 1);
    font-size: 14px;
    text-align: right;
    font-family: PingFangSC-Regular;
}
#choose_picture{
    width: 64px;
    height: 64px;
    margin: 10px 0 0 20px;
    border-radius: 64px;
    text-align: center;
    line-height: 64px;
    font-size: x-small;
    background-color: rgba(240, 142, 131, 1);
}
#choose_picture:hover{
	width:64px;
	height:64px;
    cursor: pointer;
}
#head_img{
	display:none;
	width:60px;
	height:60px;
	border-radius:50%;
}
.info_input{
    width: 415px;
    height: 48px;
    margin: 16px 0 0 10px;
    color: black;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(223, 225, 230, 1);
}
.info_input::-webkit-input-placeholder{
    padding-left: 20px;
}
.remind{
    height: 12px;
    margin-left: 75px;
    color: rgba(161, 166, 179, 1);
    font-size: x-small;
    text-align: left;
    font-family: PingFangSC-Regular;
}
#save_btn{
    position: relative;
    left: 10px;
    top: 30px;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    background-color: rgba(51, 51, 51, 1);
}
#save_btn:hover{
    cursor: pointer;
}
#phone_prompt{
    position: absolute;
    left: 850px;
    top:230px;
    width: 260px;
    height: 48px;
    line-height: 48px;
}
#password_format_prompt{
    position: absolute;
    left: 850px;
    top: 390px;
    width: 260px;
    height: 48px;
    line-height: 48px;
}
#password_match_prompt{
    position: absolute;
    left: 850px;
    top: 470px;
    width: 260px;
    height: 48px;
    line-height: 48px;
}

.modal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
}
.modal_content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 70%;
    max-width: 900px;
    height: 90%;
    max-height: 1100px;
    margin: 50px auto;
    border-radius: 10px;
    background-color: #fff;
    -webkit-animation: zoom 0.6s;
    animation: zoom 0.6s;
    resize: both;
    overflow: auto;
}
@-webkit-keyframes zoom{
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes zoom{
    from {transform: scale(0)}
    to {transform: scale(1)}
}
.modal_header{
     box-sizing:border-box;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
.modal_header h4{
    color: black;
    margin-top: 20px;
    margin-left: 20px;
    font-size: x-large;
}
 .modal_body{
     min-height: 200px;
     padding: 10px;
     font-size: 16px;
     box-sizing: border-box;
 }
 .body_content{
     width: 200px;
     height: 200px;
     float: left;
     margin: 0;
 }
 #head.preview-container{
     width: 100%;
     height: 100%;
 }
 #head{
 	margin-left: 100px;
 	margin-right:200px;
 }
 #target{
     width: 300px;
     height: 300px;
     background-color: white;
 }
 #preview-pane div{
     clear: left;
 }
 #Preview{
     width: 200px;
     height: 200px;
     margin: 0
     border-radius: 200px;
 }
 #myCan{
 	width: 200px;
 	height: 200px;
 	border:1px solid red;
 }

 #resplit{
     position: relative;
     top: 90px;
     left: 90px;
     width: 150px;
     height: 150px;
     color: dodgerblue;
 }
 .modal-footer{
     box-sizing:border-box;
     border-top:1px solid #ccc;
     display: flex;
     padding: 15px;
     justify-content: center;
     background-color: #F5F5F5;
 }
 #sure{
     width: 100px;
     height: 50px;
     box-sizing: border-box;
     margin-right: 10px;
     font-size: 16px;
     color: white;
     border: 1px solid #DCDCDC;
     border-radius: 10px;
     background-color: dodgerblue;
 }
 #cancel{
     width: 100px;
     height: 50px;
     box-sizing: border-box;
     margin-right: 10px;
     font-size: 16px;
     color: black;
     border: 1px solid #DCDCDC;
     border-radius: 10px;
     background-color: white;
 }
 .modal-footer button:hover, .modal-footer button:focus{
     cursor: pointer;
 }
@media only screen and (max-width: 700px){
    .modal-content {
        width: 80%;
    }
}