@CHARSET "UTF-8";

*{
    margin: 0;
    padding: 0;
    color: rgba(223, 225, 230, 1);
    border: 0px;
    text-decoration: none;
    list-style: none;
}
body{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 1024px;
    background-color: #F5F5F9;
}
.background{
	position: absolute;
    left: 0px;
    top: 0px; 
    width: 100%;
    height: 1024px;
    background-color: rgba(40, 40, 40, 1);
}

.head{
	width: 100%;
    height: 56px;
    background: yellow;
}
.word{
	position: absolute;
	left: 43%;
	top: 122px;
	width: 220px;
	height: 30px;
	color: rgba(255, 255, 255, 1);
	font-size: 22px;
	text-align: center;
	font-family: PingFangSC-Regular;
	
}

.login{
	position:absolute;
	left: 35.42%;
	/* right: 35.42%; */
	width:420px;
	height:420px;
	margin-top: 134px;
	background-color: rgba(255, 255, 255, 1);
}
.login_top{
	width:420px;
	height: 72px;
}
.top_left{
	float:left;
	width:348px;
	height:72px;
	background-color: rgba(255, 255, 255, 1);
}


.top_left_head{
	position: relative;
	left: 50px;
	top: 20px;
	width: 76px;
	height: 40px;
	color: black;
	font-size: 18px;
	text-align: center;
	font-family: PingFangSC-Medium;
}
.hrr{
	height: 2px;
	width: 324px;
	border:none;
	border-top:2px solid #185598;
}
.top_right{
	float:left;
	width:72px;
	height: 72px;
	background-color: rgba(255, 255, 255, 1);
}
.login_middle{
	width: 420px;
	height: 231px;
	background-color: rgba(255, 255, 255, 1);
}
.login_input{
    width: 320px;
    height: 45px;
    color: black;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(223, 225, 230, 1);
}
#login_input1{
    margin: 36px 55px 0px 45px;
}
#login_input2{
    margin: 16px 55px 0px 45px;
}
#login_btn{
    position: relative;
    left: 45px;
    top: 32px;
    width: 320px;
    height: 45px;
    border-radius: 6px;
    color: rgba(255, 255, 255, 1);
    font-size:16px;
    background-color: rgba(40, 40, 40, 1);
    text-align: center;
    font-family: PingFangSC-Medium;
    
}
.box{
	position: relative;
	left: 35px;
	float: left;
}
.a_link{
	position: relative;
	right:55px;
	float: right;
}

.head{
    width: 100%;
    height: 56px;
    background-color: rgba(40, 40, 40, 1);
}
.nav_list{
    float: left;
}
.logo{
    float: left;
    position: absolute;
    left: 232px;
    top: 10px;
    width: 120px;
    height: 36px;
}
.home{
    position: absolute;
    left: 357px;
    top: 19px;
    width: 28px;
    height: 20px;
    color: rgba(223, 225, 230, 1);
    font-size: 14px;
    text-align: left;
    font-family: PingFangSC-Semibold;
}
.material_library{
    position: absolute;
    left: 409px;
    top: 19px;
    width: 42px;
    height: 20px;
    opacity: 0.6;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    text-align: left;
    font-family: PingFangSC-Regular;
}
.work_management{
    position: absolute;
    left: 475px;
    top: 19px;
    width: 56px;
    height: 20px;
    opacity: 0.6;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    text-align: left;
    font-family: PingFangSC-Regular;
}
.search_box{
    position: absolute;
    left: 910px;
    top: 15px;
    width: 200px;
    height: 28px;
    opacity: 0.2;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(40, 40, 40, 1);
}
.search_map{
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    float: left;
    width: 24px;
    height: 24px;
}
.search_map{
    cursor: pointer;
}
.search_content{
    display: inline-block;
    width: 120px;
    float: left;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(40, 40, 40, 1);
}
.search_btn{
    margin-left: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.search_btn:hover{
    cursor: pointer;
}
.update{
    position: absolute;
    left: 1132px;
    top: 18px;
    width: 24px;
    height: 24px;
}
.update:hover{
    cursor: pointer;
}
.message{
    position: absolute;
    left: 1168px;
    top: 17px;
    width: 24px;
    height: 24px;
}
.message:hover{
    cursor: pointer;
}
.need_sign_in{
    position: absolute;
    left: 1209px;
    top: 17px;
    width: 24px;
    height: 24px;
}
.need_sign_in:hover{
    cursor: pointer;
}
