.nav_head{
	width: 100%;
	height: 48px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.active{
	color: rgba(50, 50, 50, 1)!important;
	font-size: 14px;
	text-align: left;
	font-family: PingFangSC-Medium;
}
.nav_head_content{
	margin-left: 230px;
}
.parent_type_nav{
	margin-right:30px;
	height: 100%;
	line-height: 48px;
	color: rgba(161, 166, 179, 1);
	font-size: 14px;
	text-align: left;
	font-family: PingFangSC-Regular;
}
.parent_type_nav:HOVER {
	cursor: pointer;
}
.material_library_container{
	margin-left:230px;
	width: 950px;
	height:auto;
	min-height:600px;
}
.child_type_material_group{
	float:left;
	margin-top:30px;
	margin-right:20px;
	width: 240px;
	height: 190px;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
.child_type_material_group:HOVER{
	cursor: pointer;
}
.img_cover_container{
	width: 100%;
	height: 80%;
}
.group_info_container{
	width: 100%;
	height: 20%;
}
.img_cover{
	width: 100%;
	height: 100%;
}
.group_info_container div{
	float:left;
	margin-left:6px;
	width: 45%;
	height: 100%;
	line-height: 38px;
}
.group_name{
	color: rgba(41, 48, 64, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
}
.group_material_num{
	color: rgba(161, 166, 179, 1);
	font-size: 12px;
	text-align: right;
	font-family: PingFangSC-Regular;
}