@CHARSET "UTF-8";
.head {
	width: 100%;
	height: 96px;
	background-color: rgba(40, 40, 40, 1);
}

.head_div {
	float: left;
	height: 75px;
	margin-top: 21px;
	margin-left: 20px;
}

.headImg_model {
	margin-left: 232px;
	width: 70px;
}

#user_head_img {
	display: block;
	width: 70px;
	height: 70px;
	border: 1px solid white;
	border-radius: 70px;
}

.canvas_info_model {
	height: 35px;
	width: 100%;
}

.canvas_info_div {
	margin-left: 10px;
	height: 100%;
}

.user_name {
	display:block;
	margin-top:5px;
	color: rgba(255, 255, 255, 1);
	font-size: 20px;
	text-align: center;
	font-family: PingFangSC-Medium;
}
.canvas_name_div{
	margin-top:8px;
	padding-left:5px;
	padding-right:5px;
	border-radius: 8px;
	text-align:center;
	background-color: rgba(65, 66, 71, 1);
}
.canvas_name {
	color: rgba(113, 119, 135, 1);
	font-size: 12px;
	line-height:100%;
	text-align: center;
	font-family: PingFangSC-Regular;
}
.material_num_div{
	margin-top: 10px;
	color: rgba(113, 119, 135, 1);
	font-size: 12px;
	text-align: center;
	font-family: PingFangSC-Regular;
}
.material_nav{
	width: 450px;
}
.material_nav_li{
	margin-top:5px;
	margin-left: 20px;
	color: rgba(223, 225, 230, 1);
	font-size: 14px;
	text-align: center;
	font-family: PingFangSC-Medium;
}
.material_nav_li a{
	color: rgba(223, 225, 230, 1);
	text-decoration: none;
}
.material_operation_nav_li{
	margin-top:5px;
	margin-left: 20px;
}
.select_all_div{
	color: rgba(223, 225, 230, 1);
}
#selectAll{
	display:block;
	margin-top: 5px;
	float: left;
}
#delete{
	width: 60px;
	height: 24px;
	border-radius: 15px;
	border: 2px solid rgba(253, 117, 76, 1);
	background-color: black;
	color: rgba(253, 117, 76, 1);
}
#cancer_operation{
	width: 70px;
	height: 24px;
	border-radius: 15px;
	border: 2px solid rgba(255, 255, 255, 1);
	background-color: black;
	color: rgba(255, 255, 255, 1);
}
#search_content{
	display:block;
	margin-top:3px;
	margin-right:10px;
	width: 70px;
	float: left;
}
.search_btn_div{
	display:block;
	background-color:black;
	border: none;
}
.search_img{
	width: 25px;
	height: 25px;
	border-radius: 25px;
}
.upload_btn_div{
	background-color:black;
	border: none;
}
.upload_img{
	width: 25px;
	height: 25px;
	border-radius: 25px;
}
.float_l{
	float: left;
}

.clear_float{
	clear: both;
}
.nav_active{
	color: orange!important;
	border-bottom: 1px solid orange!important;
}

/* 以上是作品管理页面的head样式 */
.material_show_body{
	width: 80%;
	margin-left: 220px;
	margin-top: 20px;
}
.each_material_div{
	float:left;
	margin:25px 15px 25px 15px;
	width: 70px;
	height: 70px;
}
.material_image_div{
	width: 100%;
	height: 70%;
}
.material_img{
	margin-left:15px;
	margin-top:4px;
	width: 40px;
	height: 40px;
}
.material_name{
	display:block;
	text-align: center;
	width: 100%;
}
.custom_checkedbox{
	opacity:0;
	position:relative;
	top:-56px;
	left:55px;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(113, 119, 135, 1);
	text-align:center;
	line-height:100%;
	z-index: 10;
}