.nav_head{
	width: 100%;
	height: 48px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.active{
	color: rgba(50, 50, 50, 1)!important;
	font-size: 14px;
	text-align: left;
	font-family: PingFangSC-Medium;
}
.nav_head_content{
	margin-left: 230px;
	height: 100%;
}
.show_as_list{
	position:absolute;
	right:230px;
	width: 24px;
	height: 48px;
}
.show_as_list:HOVER{
	cursor: pointer;
}
.show_as_list img{
	max-width: 24px;
	height:24px;
	width:24px;
	max-height: 24px;
	margin-top: 12px;
}
.parent_type_nav{
	margin-right:30px;
	height: 100%;
	line-height: 48px;
	color: rgba(161, 166, 179, 1);
	font-size: 14px;
	text-align: left;
	font-family: PingFangSC-Regular;
}
.typeCode{
	display: none;
}
.parent_type_nav:HOVER {
	cursor: pointer;
}
.material_library_container{
	margin-left:230px;
	width: 950px;
	height:auto;
	min-height:600px;
}
.material_library_list_container{
	display:none;
	margin-left:230px;
	margin-top: 20px;
	width: 1000px;
	height:auto;
	min-height:800px;
	background-color: white;
}
.child_type_material_group{
	float:left;
	margin-top:30px;
	margin-right:20px;
	width: 240px;
	height: 190px;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
.child_type_material_group:HOVER{
	cursor: pointer;
}
.img_cover_container{
	width: 100%;
	height: 80%;
}
.group_info_container{
	width: 100%;
	height: 20%;
}
.img_cover{
	width: 100%;
	height: 100%;
}
.group_info_container div{
	float:left;
	margin-left:6px;
	width: 45%;
	height: 100%;
	line-height: 38px;
}
.group_name{
	color: rgba(41, 48, 64, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
}
.group_material_num{
	color: rgba(161, 166, 179, 1);
	font-size: 12px;
	text-align: right;
	font-family: PingFangSC-Regular;
}
.child_Type_list{
	width: 250px;
	height:100%;
	min-height:100%;
	background-color: rgba(255, 255, 255, 1);
}
.list_li_active{
	background-color: #FFEC8B!important;
}
.each_child_type_li{
	width: 100%;
	height: 30px;
	margin-bottom: 5px;
}
.each_child_type_li:HOVER{
	cursor: pointer;
}
.child_type_li_img{
	width: 30px;
	height: 30px;
}
.child_type_li_img img{
	width: 30px;
	height: 30px;
}
.child_type_name_div{
	width: 160px;
	height: 100%;
}
.child_type_name_content{
	width: 100%;
	height: 100%;
	line-height:30px;
	padding-left:10px;
	color: rgba(50, 50, 50, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Medium;
}
.child_type_material_number{
	width: 50px;
	height: 100%;
	line-height: 30px;
	padding-right:5px;
	color: rgba(161, 166, 179, 1);
	font-size: 12px;
	text-align: right;
	font-family: PingFangTC-Regular;
}
.each_material_li{
	width: 100%;
	height: 30px;
	margin-bottom: 5px;
}
.each_material_li:HOVER{
	cursor: pointer;
}
.material_li_info_div{
	width: 200px;
	height: 100%;
}
.material_li_thumbnail{
	width: 30px;
	height: 30px;
}
.material_li_thumbnail_img{
	width: 30px;
	height: 20px;
	margin-top: 5px;
}
.material_li_name{
	width:100%;
	height:100%;
	line-height: 30px;
	padding-left:5px;
	color: rgba(50, 50, 50, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Medium;
}
.material_list{
	width: 250px;
	height:auto;
	min-height:800px;
	border-left:1px solid #F5F5F5;
	background-color: rgba(255, 255, 255, 1);
}
.material_info_list{
	width: 470px;
	height:auto;
	min-height:800px;
	border-left:1px solid #F5F5F5;
	padding-left:20px;
	background-color: rgba(255, 255, 255, 1);
}
/* 以下是列表显示中素材的信息框样式 */
.modal_material_div{
	width: 100%;
	height:300px;
	max-height: 400px;
	margin-top: 10px;
}
.material_img_div{
	width: 100%;
	height: 100%;
}
#material_img_preview{
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}
.material_info_div{
	width: 100%;
 	height:48px;
 	margin-top: 5px;
}
.material_name_content{
	max-width:100%;
	max_height:100%;
	color: rgba(46, 55, 73, 1);
	font-size: 16px;
	text-align: left;
	font-family: PingFangSC-Medium;
}
.user_info_block{
	max-height: 48px;
	height:100%;
	max-width: 100%;
	width: 100%;
}
.author_head_img_div{
	max-width: 60px;
	width:60px;
	max-height:100%;
	height: 100%;
	margin-right: 10px;
}
.author_details_info_div{
	max-width: 400px;
	width:400px;
	height: 100%;
	min-height: 100%;
}
.author_head_img{
	width:48px;
	height:48px;
	max-width: 48px;
	max-height: 48px;
	border-radius:48px;
	border: 1px solid gray;
}
.author_details_info_li{
	width: 50%;
	max-width: 50%;
	height: 50%;
	max-height: 50%;
}
.material_author_name{
	color: rgba(50, 50, 50, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
	margin-left: 10px;
}
.material_author_createDate{
	color: rgba(161, 166, 179, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
}
.material_author_canvasName{
	color: rgba(50, 50, 50, 1);
	font-size: 12px;
	text-align: left;
	font-weight:bold;
	font-family: PingFangSC-Semibold;
	margin-left: 10px;
}
.find_more_in_cavans{
	width: 14px;
	height: 100%;
}
.find_more_in_cavans:HOVER{
	cursor: pointer;
}
.find_more_in_cavans img{
	width: 14px;
	height: 14px;
	max-height: 14px;
	max-width: 14px;
}
.material_history_info_div{
	width: 100px;
	height: 20px;
	margin-right: 30px;
	margin-top: 12px;
}
.history_info_icon{
	width: 14px;
	height: 100%;
}
.history_icon_img{
	width: 14px;
	height: 14px;
	max-height: 14px;
	max-width: 14px;
}
.history_info_content{
	width: 70px;
	height: 100%;
	margin-left: 10px;
}
.history_info_collectionNum{
	width: 70px;
	height: 100%;
	margin-left: 10px;
	color: rgba(50, 50, 50, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
}
.history_info_downloadsNum{
	width: 70px;
	height: 100%;
	margin-left: 10px;
	color: rgba(161, 166, 179, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
}
.material_lable_icon_div{
	width: 14px;
	height: 20px;
}
.material_lable_content_div{
	width: 320px;
	height: 100%;
	margin-left: 10px;
}
.material_lable_icon_img{
	max-width: 14px;
	max-height: 14px;
}
.material_lable_content{
	line-height: 24px;
	color: rgba(41, 48, 64, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
}
.download_material_div{
	width: 100%;
	height: 60px;
	margin: 20px 0 20px 0;
}
.download_buttons_div{
	width: 100%;
	height: 100%;
	line-height: 60px;
}
.download_btn{
 	min-width:100px;
	height: 40px;
	border-radius: 3px;
	margin-right:30px;
	margin-top:5px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(161, 166, 179, 1);
	color: rgba(41, 48, 64, 1);
	font-size: 14px;
	text-align: center;
	font-family: PingFangTC-Semibold;
 }
 .download_btn:HOVER{
 	cursor: pointer;
 }
 .download_btn_png{
 	padding-left:10px;
 	min-width:80px;
 	max-width:160px;
 	width:auto;
	height: 40px;
	border-radius: 3px;
	border: 1px solid rgba(161, 166, 179, 1);
	margin-right:30px;
	margin-top:10px;
	background-color: rgba(255, 255, 255, 1);
	color: rgba(41, 48, 64, 1);
	font-size: 14px;
	text-align: center;
	font-family: PingFangTC-Medium;
 }
 .download_btn_png:HOVER{
 	cursor: pointer;
 }
 #download_material_png{
 	width: 60px;
	border-radius: 3px;
	text-align:center;
	display: block;
	float: left;
 }
 #material_png_size_select{
 	display:block;
 	float: left;
 	max-width:80px;
 	border: none;
	color: rgba(41, 48, 64, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
	background-color: rgba(255, 255, 255, 1);
 }
 #material_png_size_select option{
 	background-color: white!important;
 }
 #download_material_svg{
 	position:relative;
 	top:-15px;
	width: 80px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(161, 166, 179, 1);
	color: rgba(41, 48, 64, 1);
	/* margin-top:-20px; */
	font-size: 14px;
	text-align: center;
	font-family: PingFangTC-Semibold;
 }
 #download_material_ai{
 position:relative;
 	top:-15px;
	width: 80px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(161, 166, 179, 1);
	color: rgba(41, 48, 64, 1);
	/* margin-top:-20px; */
	font-size: 14px;
	text-align: center;
	font-family: PingFangTC-Semibold;
 }
  .the_border{
 	border-radius: 3px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(223, 225, 230, 1);
 }
.similar_material_block{
	height: 150px;
	width: 100%;
	margin-top: 10px;
}
.similar_block_head{
	width: 100%;
	height: 17px;
	line-height:17px;
	color: rgba(161, 166, 179, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
}
.similar_img_div{
	width: 100%;
	height: 130px;
	margin-top: 3px;
}
.each_similar_material_div{
	width: 120px;
	height: 80px;
	margin-right: 20px;
}
.similar_material_img{
	max-width: 100%;
	width: 100%;
	max-height: 100%;
	height: 100%;
}
.similar_material_img:HOVER{
	cursor: pointer;
}


/* 模态框的样式 */
.modal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
}
.modal_content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 70%;
    max-width: 900px;
    min-height: 80%;
    height:auto;
    max-height:100%;
    margin: 50px auto;
    border-radius: 10px;
    background-color: #fff;
    -webkit-animation: zoom 0.6s;
    animation: zoom 0.6s;
    resize: both;
    overflow: auto;
}
@-webkit-keyframes zoom{
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes zoom{
    from {transform: scale(0)}
    to {transform: scale(1)}
}
.modal_header{
     box-sizing:border-box;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
.modal_header h4{
    color: black;
    margin-top: 10px;
    margin-left: 20px;
    font-size: large;
}
#closeModal{
	position:relative;
	right:10px;
	width: 36px;
	height: 36px;
	background-color: grey;
	color:white;
	font-size:30px;
	border: none;
	border-radius:36px;
}
#closeModal:HOVER{
	cursor: pointer;
}
.modal_body{
     height: 300px;
     padding: 10px;
     font-size: 16px;
     box-sizing: border-box;
}
.modal-footer{
 	 position:relative;
 	 top:30px;
     box-sizing:border-box;
     height:80px;
     border:1px solid #ccc;
     border-radius:5px;
     display: flex;
     padding: 15px;
     margin-top:10px;
     background-color: #F5F5F5;
 }
.material_img_div_in_modal{
	width: 40%;
 	height: 350px;
}
.material_img_in_modal{
	background-color: rgba(245, 245, 249, 1);
	display:block;
 	margin-left:auto;
 	margin-right:auto;
 	width:auto;
 	height:auto;
 	max-width: 100%;
 	max-height: 280px;
}
.material_info_div_in_modal{
	width: 55%;
 	min-height: 350px;
 	margin-left: 30px;
}
.material_info_li_in_modal{
	width: 100%;
 	height:48px;
 	margin-top: 5px;
}
.material_name_content_in_modal{
	max-width:100%;
	max_height:100%;
	color: rgba(50, 50, 50, 1);
	font-size: 16px;
	text-align: left;
	font-family: PingFangSC-Medium;
}
.author_head_img_div_in_modal{
	max-width: 60px;
	width:60px;
	max-height:100%;
	height: 100%;
	margin-right: 10px;
}
.author_head_img_in_modal{
	width:48px;
	height:48px;
	max-width: 48px;
	max-height: 48px;
	border-radius:48px;
	border: 1px solid gray;
}
.author_details_info_in_modal{
	max-width: 400px;
	width:400px;
	height: 100%;
	min-height: 100%;
}
.material_author_name_in_modal{
	color: rgba(50, 50, 50, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
	margin-left: 10px;
}
.material_author_createDate_in_modal{
	color: rgba(161, 166, 179, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
}
.material_author_canvasName_in_modal{
	color: rgba(50, 50, 50, 1);
	font-size: 12px;
	text-align: left;
	font-weight:bold;
	font-family: PingFangSC-Semibold;
	margin-left: 10px;
}
.find_more_in_cavans_in_modal{
	width: 14px;
	height: 100%;
}
.find_more_in_cavans_in_modal:HOVER {
	cursor: pointer;
}
.find_more_in_cavans_in_modal img{
	width: 14px;
	height: 14px;
	max-height: 14px;
	max-width: 14px;
}
.material_history_info_div_in_modal{
	width: 100px;
	height: 20px;
	margin-right: 30px;
	margin-top: 12px;
}
.history_info_icon_in_modal{
	width: 14px;
	height: 100%;
}
.history_icon_img_in_modal{
	width: 14px;
	height: 14px;
	max-height: 14px;
	max-width: 14px;
}
.history_info_collectionNum_in_modal{
	width: 70px;
	height: 100%;
	margin-left: 10px;
	color: rgba(50, 50, 50, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
}
.history_info_downloadsNum_in_modal{
	width: 70px;
	height: 100%;
	color: rgba(161, 166, 179, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
}
.material_lable_icon_div_in_modal{
	width: 14px;
	height: 20px;
}
.material_lable_content_div_in_modal{
	width: 320px;
	height: 100%;
	margin-left: 10px;
}
.material_lable_icon_img_in_modal{
	max-width: 14px;
	max-height: 14px;
}
.material_lable_content_in_modal{
	line-height: 24px;
	color: rgba(41, 48, 64, 1);
	font-size: 14px;
	text-align: left;
	font-family: PingFangSC-Regular;
}
.similar_material_block_in_modal{
	height: 150px;
	width: 100%;
	margin-top: 10px;
}
.similar_img_div_in_modal{
	width: 100%;
	height: 130px;
	margin-top: 3px;	
}
.each_similar_material_div_in_modal{
	width: 120px;
	height: 80px;
	margin-right: 8px;
}
.similar_material_img_in_modal{
	max-width: 100%;
	width: 100%;
	max-height: 100%;
	height: 100%;
}
.similar_material_img_in_modal:HOVER{
	cursor: pointer;
}
.download_buttons_div_in_modal{
	width: 800px;
 	height: 100%;
 	margin-left: auto;
 	margin-right: auto;
 	padding-left: 220px;
}
.download_btn_png_in_modal{
	padding-left:10px;
 	min-width:120px;
	height: 40px;
	border-radius: 3px;
	border:none;
	margin-right:30px;
	margin-top:5px;
	background-color: rgba(255, 214, 48, 1);
	color: rgba(41, 48, 64, 1);
	font-size: 14px;
	text-align: center;
	font-family: PingFangTC-Medium;
}
.download_btn_png_in_modal:HOVER{
	cursor: pointer;
}
#download_material_png_in_modal{
	width: 160px;
	border-radius: 3px;
	text-align:center;
}
#material_png_size_select_in_modal{
	border: none;
	color: rgba(41, 48, 64, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
	background-color: rgba(255, 214, 48, 1);
}
#material_png_size_select_in_modal option{
	background-color: white!important;
}
#download_material_svg_in_modal{
	width: 80px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(161, 166, 179, 1);
	color: rgba(41, 48, 64, 1);
	font-size: 14px;
	text-align: center;
	font-family: PingFangTC-Semibold;
}
#download_material_ai_in_modal{
	width: 80px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(161, 166, 179, 1);
	color: rgba(41, 48, 64, 1);
	font-size: 14px;
	text-align: center;
	font-family: PingFangTC-Semibold;
}
.the_border{
 	border-radius: 3px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(223, 225, 230, 1);
 }