@CHARSET "UTF-8";
#div-all{
	width: 100%;
	min-width:1440px;
	height: 1024px;
}
#div-filtration{
	width: 100%;
	min-width:1440px;
	height: 48px;
	box-shadow: 0px 2px 5px  #888888;

}
#rs{
	width:auto;
	height:25px;
	line-height:25px;
	position: relative;
	margin-top:15px;
	margin-left:15.3%;
	color: rgba(113, 119, 135, 1);
	font-size: 14px;
	text-align: left;
	font-family: PingFangSC-Regular;
}
.typename{
	height:25px;
	position: relative;
	margin-top:15px;
	margin-left:20px;
	color: rgba(41, 48, 64, 1);
	font-size: 14px;
	text-align: left;
	font-family: PingFangSC-Regular;
	z-index: 9px;
}
#typename_0,#typename_1{
	width: 86px;	
}
#typename_2,#typename_3{
	width:114px;	
}
.typename div:HOVER{
	cursor: pointer;
	color: orange;
}
.typename div{
	width:auto;
	height:25px;
	line-height:25px;
	color: rgba(41, 48, 64, 1);
	font-size: 14px;
	text-align: left;
	font-family: PingFangSC-Regular;
	float: left;
}
#typename_4{
	position: relative;
	width: 86px;
	height:25px;
	float:left;
	margin-top:15px;
	margin-left:220px;
}
#typename_5{
	width: 86px;
}
#type_color{
	width: auto;
	height:25px;
	line-height:25px;
	margin-top:15px;
	margin-left:20px;
	color: rgba(40, 40, 40, 1);
	font-size: 14px;
	text-align: center;
	font-family: PingFangSC-Regular;

}
#color_word{
	width:auto;
	height:25px;
	color: rgba(41, 48, 64, 1);
	font-size: 14px;
	text-align: left;
	font-family: PingFangSC-Regular;
	float: left;
	z-index: 9;
}
#color_pane{
	width: 24px;
	height: 16px;
	margin-top:5px;
	border: solid 1px rgba(151,151,151,1);
	float: left;
	z-index: 9;
}
#type_color div:HOVER {
	cursor: pointer;
	color: orange;
}
#div-filtration-result{
	width: auto;
	min-width: 1440px;
	height: 920px;	
}
.type_child{
	position: absolute;	
	width: 100px;
	height: auto;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(223, 225, 230, 1);
	display: none;
	z-index: 9;
}

#type_child_color{
	position: relative;	
	width: 124px;
	height: 84px;
	margin-top: 28px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(223, 225, 230, 1);
	z-index: 10;
	display: none;
}
.child_pane{
	position:relative;
	margin-left: 12px;
	margin-top: 9px;
	width: 16px;
	height: 16px;
	float:left;
}
#white{
	width: 14px!important;
	height: 14px!important;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(223, 225, 230, 1);
}
#black{
	background-color: rgba(0, 0, 0, 1);
}
#red{
	background-color: rgba(222, 31, 31, 1);
}
#blue{
	background-color: rgba(1, 101, 254, 1);
}
#brown{
	background-color: rgba(115, 52, 20, 1);
}
#yellow{
	background-color: rgba(255, 191, 0, 1);
}
#roseRed{
	background-color: rgba(215, 68, 186, 1);
}
#orange{
	background-color: rgba(255, 108, 0, 1);
}
#skyBlue{
	background-color: rgba(6, 183, 200, 1);
}
#green{
	background-color: rgba(89, 167, 37, 1);
}
#purple{
	background-color: rgba(137, 43, 206, 1);
}
.type_child_name{
	position:relative;
	width: 99px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
	background-color: rgba(255,255,255,1);
	font-family: PingFangSC-Regular;
	display: none;
	z-index: 9;
}
.type_child_name:HOVER{
	cursor: pointer;
	background-color: rgba(245,245,249,1);
	color: rgba(253, 117, 76, 1);
}
#result_list{
	position: relative;
	width: 1040px;
	height: 914px;
	margin-left: 13.9%;
	margin-top: 6px;
	background-color: rgba(245,245,249,1);
}
.result_photo{
	position: relative;
	width: 240px;
	height: 220px;
	margin-top: 20px;
	margin-left: 20px;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
	float: left;
}
.result_photo:HOVER{
	box-shadow: 8px 8px 10px  #888888;
}
.photo_url{
	position: absolute;
	width: 220px;
	height: 160px;
	margin-top: 10px;
	margin-left: 10px;
}
.photo_name{
	position: absolute;
	width: 100px;
	height: 17px;
	color: rgba(41, 48, 64, 1);
	margin-top: 187px;
	margin-left: 10px;
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
}
.handles{
	position: absolute;
	width: 60px;
	height: 17px;
	margin-top: 187px;
	margin-left: 170px;

	float: right;
}
.copy:HOVER {
	cursor:pointer;
}
.collect:HOVER {
	cursor:pointer;
}
.download:HOVER {
	cursor:pointer;
}

/* 模态框的样式 */
.modal{
    display: none;
    width: 100%;
    height: 80%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
}
.modal_content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 70%;
    max-width: 900px;
    min-height: 90%;
    height:auto;
    max-height:100%;
    margin: 50px auto;
    border-radius: 10px;
    background-color: #fff;
    -webkit-animation: zoom 0.6s;
    animation: zoom 0.6s;
    resize: both;
    overflow: auto;
}
@-webkit-keyframes zoom{
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes zoom{
    from {transform: scale(0)}
    to {transform: scale(1)}
}.modal_header{
     box-sizing:border-box;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
.modal_header h4{
    color: black;
    margin-top: 20px;
    margin-left: 20px;
    font-size: large;
}
#closeModal{
	position:relative;
	right:10px;
	width: 36px;
	height: 36px;
	background-color: grey;
	color:white;
	font-size:30px;
	border: none;
	border-radius:36px;
}
#closeModal:HOVER{
	cursor: pointer;
}
.modal_body{
     min-height: 180px;
     padding: 10px;
     font-size: 16px;
     box-sizing: border-box;
 }
.modal_material_div{
 	width: 40%;
 	height: 350px;
 }
 .material_img_div{
 	width: 100%;
	height: 280px;
	background-color: rgba(245, 245, 249, 1);
 }
 #material_img_preview{
 	display:block;
 	margin-left:auto;
 	margin-right:auto;
 	width:auto;
 	height:auto;
 	max-width: 100%;
 	max-height: 100%;
 }
 .modal_materialInfo_div{
 	width: 55%;
 	min-height: 350px;
 	margin-left: 30px;
 }
 .material_info_div{
 	width: 100%;
 	height: 40px;
 	margin-top: 10px;
 }
 .material_info_title{
 	height:100%;
 	width: 70px;
 	line-height:40px;
	color: rgba(41, 48, 64, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
 }
 .material_info_content{
 	width:390px;
 	height:100%;
 	line-height:50px;
 }
 .material_info_content input{
 	height:36px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(223, 225, 230, 1);
 }
 .material_type_div_each{
 	margin-right: 30px;
 	height: 100%;
 	line-height: 100%;
 }
 .material_type_name{
 	display:block;
 	float:left;
	width: 40px;
	height:36px;
	line-height: 36px;
	color: rgba(41, 48, 64, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
 }
 .material_type_content{
	width: 80px;
	height: 36px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 1);
 }

 #material_content_name{
	width: 260px;
	height:36px;
	padding-left:10px;
	line-height:36px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(223, 225, 230, 1);
	color: rgba(113, 119, 135, 1);
	font-size: 12px;
	font-family: PingFangSC-Regular;
 }
 #material_content_label{
	width: 400px;
	height:100%;
	padding-left:10px;
	line-height:36px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(223, 225, 230, 1);
	color: rgba(113, 119, 135, 1);
	font-size: 12px;
	font-family: PingFangSC-Regular;
 }
 #personal_canvas{
 	width:180px;
	height: 36px;
	line-height:36px;
	padding-left:10px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(223, 225, 230, 1);
	color: rgba(113, 119, 135, 1);
	font-size: 12px;
	font-family: PingFangSC-Regular;
 }
 .material_parent_type{
 	height: 100%;
 	line-height: 36px;
 	text-align:center;
 	width:auto;
	min-width: 60px;
	border-radius: 3px;
	margin-left:30px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(223, 225, 230, 1);
	color: rgba(113, 119, 135, 1);
	font-size: 12px;
	font-family: PingFangSC-Regular;
 }
 .material_child_type{
 	height: 100%;
 	line-height: 36px;
 	text-align:center;
 	width:auto;
	min-width: 60px;
	border-radius: 3px;
	margin-left:30px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(223, 225, 230, 1);
	color: rgba(113, 119, 135, 1);
	font-size: 12px;
	font-family: PingFangSC-Regular;
 }
 .material_style_type{
 	height: 100%;
 	line-height: 36px;
 	text-align:center;
 	width:auto;
	min-width: 60px;
	border-radius: 3px;
	margin-left:30px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(223, 225, 230, 1);
	color: rgba(113, 119, 135, 1);
	font-size: 12px;
	font-family: PingFangSC-Regular;
 }
 .modal-footer{
 	 position:relative;
 	 top:30px;
 	 margin-bottom:5px;
     box-sizing:border-box;
     border-top:1px solid #ccc;
     border-radius:5px;
     display: flex;
     padding: 15px;
     margin-top:30px;
     background-color: #F5F5F5;
 }
 .download_btn{
 	min-width:80px;
	height: 40px;
	border-radius: 3px;
	margin-right:30px;
	margin-top:5px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(161, 166, 179, 1);
 }
 .download_btn:HOVER{
 	cursor: pointer;
 }
 #download_material_png{
	width: 160px;
	border-radius: 3px;
	text-align:center;
	background-color: rgba(255, 255, 255, 1);
 }
 #material_png_size_select{
 	border: none;
	color: rgba(41, 48, 64, 1);
	font-size: 12px;
	text-align: left;
	font-family: PingFangSC-Regular;
 }
 #download_material_svg{
	width: 80px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(161, 166, 179, 1);
	color: rgba(41, 48, 64, 1);
	font-size: 14px;
	text-align: center;
	font-family: PingFangTC-Semibold;
 }
 #download_material_ai{
	width: 80px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(161, 166, 179, 1);
	color: rgba(41, 48, 64, 1);
	font-size: 14px;
	text-align: center;
	font-family: PingFangTC-Semibold;
 }