<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>作品管理</title>
<link rel="stylesheet" th:href="@{/css/nav.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/materialManage.css}"
	type="text/css" />
</head>
<body>
	<div class="nav">
		<div class="nav_list logo">
			<img src="../img/logo.png">
		</div>
		<div class="nav_list home">
			<a href="#">首页</a>
		</div>
		<div class="nav_list material_library">
			<a href="#">素材库</a>
		</div>
		<div class="nav_list work_management">
			<a class="nav_active" href="#">作品管理</a>
		</div>
		<div class="nav_list search_box">
			<img src="../img/搜图.png" class="search_map" alt=""> <input
				type="text" value="春节" class="search_content" /> <img
				src="../img/搜索.png" alt="" class="search_btn">
		</div>
		<div class="nav_list update">
			<img src="../img/上传.png">
		</div>
		<div class="nav_list message">
			<img src="../img/消息.png">
		</div>
		<div class="nav_list need_sign_in">
			<img src="../img/未登录.png">
		</div>
	</div>
	<div class="head">
		<div class="headImg_model head_div">
			<img id="user_head_img" alt="头像" src="">
		</div>
		<div class="head_div">
			<div class="canvas_info_model">
				<div class="float_l canvas_info_div">
					<span id="user_name"></span>
				</div>
				<div class="float_l canvas_info_div">
					<div class="canvas_name_div">
						<span class="canvas_name"></span>
					</div>
				</div>
				<div class="float_l canvas_info_div">
					<div class="material_num_div">
						<span class="material_num"></span>个素材
					</div>
				</div>
			</div>
			<div class="canvas_info_model">
				<div class="material_nav float_l">
					<div class="float_l material_nav_li"><a class="head_active" href="">我上传的作品</a></div>
					<div class="float_l material_nav_li"><a href="">我的收藏</a></div>
					<div class="float_l material_nav_li"><a href="">下载历史</a></div>
					<div class="float_l material_nav_li"><a href="">超级管理</a></div>
				</div>
				<div class="material_nav float_l">
					<div class="material_operation_nav_li float_l">
						<div class="select_all_div">
							<input type="checkbox" id="selectAll" onclick="selectAllMaterial(this)"/>全选
						</div>
					</div>
					<div class="material_operation_nav_li float_l">
						<button id="delete" onclick="delete_in_batch()">删除</button>
					</div>
					<div class="material_operation_nav_li float_l">
						<button id="cancer_operation" onclick="cancerSelectAllMaterial()">取消操作</button>
					</div>
					<div class="material_operation_nav_li float_l">
						<input type="text" id="search_content"/>
							<button class="search_btn_div">
								<img class="search_img" src="../img/我的-搜索.png">
							</button>
					</div>
					<div  class="material_operation_nav_li float_l">
						<button class="upload_btn_div">
							<img class="upload_img" src="../img/我的-上传.png">
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="body">
		<div class="material_show_body">
		</div>
	</div>
	<div class="footer">
		<div class="page_modual">
			<div class="float_l page_modual_each"><a id="lastPage">上一页</a></div>
			<div class="float_l page_modual_each">
				<input id="currentPage" type="number" value="1"/>
				<input id="search_by_page" type="button" value="跳转">
			</div>
			<div class="float_l page_modual_each"><a id="nextPage">下一页</a></div>
			<div class="float_l page_modual_each">共<span id="pageNum"></span>页</div>
		</div>
	</div>
	<div class="modal">
		<div class="modal_content">
			<header class="modal_header">
				<h4>更新</h4>
				<button id="closeModal" onclick="closeModal()">×</button>
			</header>
			<div class="modal_body">
				<div class="float_l modal_material_div">
					<div class="material_img_div">
						<img src="" id="material_img_preview">
					</div>
				</div>
				<div class="float_l modal_materialInfo_div">
					<div class="material_info_div">
						<div class="material_info_title float_l">名称</div>
						<div class="material_info_content float_l">
							<input id="material_content_name" type="text"/>
							<input type="button" id="add_material_type_div" value="+"/>
						</div>
					</div>
					<div id="material_type_info_div" style="margin-top: 20px;">
						<!-- <div class="material_info_div">
							<div class="float_l material_type_div_each">
								<span class="material_type_name">类型</span>
								<div class="material_type_content float_l">
									<select class="material_parent_type_select">
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="float_l material_type_div_each">
								<span class="material_type_name">细分</span>
								<div class="material_type_content float_l">
									<select class="material_child_type_select">
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="float_l material_type_div_each" style="margin-right: 0">
								<span class="material_type_name">风格</span>
								<div class="material_type_content float_l">
									<select class="material_style_type_select">
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="float_l">
								<input type="button" class="remove_parent_type_div" value="-"/>
							</div>
						</div> -->
						
						
					</div>
					<div class="material_info_div">
						<div class="material_info_title float_l">标签</div>
						<div class="material_info_content float_l">
							<input id="material_content_label" type="text"/>
						</div>
					</div>
					<div class="material_info_div">
						<div class="material_info_title float_l">个人画板</div>
						<div class="material_info_content float_l">
							<select id="personal_canvas_select">
								<!-- <option>11</option> -->
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div>
						<button class="download_btn">
							<span id="download_material_png">PNG</span>
							<select id="material_png_size_select">
								<option value="512">512x512</option>
								<option value="16">16x16</option>
								<option value="32">32x32</option>
								<option value="64">64x64</option>
								<option value="72">72x72</option>
								<option value="96">96x96</option>
								<option value="128">128x128</option>
								<option value="256">256x256</option>
								<option value="1024">1024x1024</option>
							</select>
							<input id="isIconInput" type="text" style="display: none"/>
						</button>
						<button id="download_material_svg" class="download_btn">SVG</button>
						<button id="download_material_ai" class="download_btn">AI</button>
					</div>
					<input type="text" id="currentMaterialId" value="" style="display: none"/>
					<button id="deleteMaterial">删除</button>
					<button id="updateMaterial">更新</button>
				</div>
			</div>
		</div>
	</div>
	<a href="" id="downloadImg" download="" style="display: none"></a>
	<script type="text/javascript" th:src="@{/js/tool.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/nav.js}"></script>
	<script type="text/javascript" th:src="@{/js/materialManage.js}"></script>
</body>
</html>