<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>搜索</title>
<link rel="stylesheet" th:href="@{/css/nav.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/search_index.css}"
	type="text/css" />
</head>
<body>
	<div id="search_body">
		<div id="search_head">
			<div class="nav">
				<div class="nav_list logo">
					<img src="../img/logo.png">
				</div>
				<div class="nav_list home">
					<a href="#">首页</a>
				</div>
				<div class="nav_list material_library">
					<a href="#">素材库</a>
				</div>
				<div class="nav_list work_management">
					<a href="#">作品管理</a>
				</div>
				<div class="nav_list search_box">
					<img src="../img/搜图.png" class="search_map" alt=""> <input
						type="text" value="春节" class="search_content" /> <img
						src="../img/搜索.png" alt="" class="search_btn">
				</div>
				<div class="nav_list update">
					<img src="../img/上传.png">
				</div>
				<div class="nav_list message">
					<img src="../img/消息.png">
				</div>
				<div class="nav_list need_sign_in">
					<img src="../img/未登录.png">
				</div>
			</div>
		</div>
		<div id="search_middle">
			<div id="count_material">
				<span id="count_icon" class="count_number">2465</span>个矢量图标
				 <span id="count_inset" class="count_number">334</span>幅插画
			</div>
			<div id="description">
			素材库有PNG、SVG、AI、PSD、SKETCH等格式提供免费图标、插画等设计素材
			</div>
			<div id="searchBox">
			<div id="selectBox" class="float_l">
			<select>
			<option>全部</option>
			<option>1个</option>
			<option>2个</option>
			<option>3个</option>
			</select>
			</div>
			<div class="search_camera float_l"><img src="../img/搜索图片.png" alt=""></div>
			<input type="text" value="春节" class="searchBox_content" />
			<div id="searchBox_button">
			<img src="../img/首页搜索.png" alt="" class="searchBox_img">
			</div>
			</div>
		</div>
		<div id="search_show_three"></div>
	</div>
</body>
</html>