<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>作品管理</title>
<link rel="stylesheet" th:href="@{/css/work_management.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/css/nav.css}"
	type="text/css" />
</head>
<body>
	<div class="manage_all">
		<div class="manage_head">
			<div class="nav">
		<div class="nav_list logo">
			<img src="../img/logo.png">
		</div>
		<div class="nav_list home">
			<a href="#">首页</a>
		</div>
		<div class="nav_list material_library">
			<a href="#">素材库</a>
		</div>
		<div class="nav_list work_management">
			<a class="nav_active" href="#">作品管理</a>
		</div>
		<div class="nav_list search_box">
			<img src="../img/搜图.png" class="search_map" alt="">
			<input type="text" value="春节" class="search_content" />
			<img src="../img/搜索.png" alt="" class="search_btn">
		</div>
		<div class="nav_list update">
			<img src="../img/上传.png">
		</div>
		<div class="nav_list message">
			<img src="../img/消息.png">
		</div>
		<div class="nav_list need_sign_in">
			<img src="../img/未登录.png">
		</div>
	</div>
		</div>
		<div class="manage_userdoing">
			<div class="userdoing" id="manage_userhead"></div>
			<div class="userdoing" id="manage_username">UserName</div>
			
			<div class="userdoing" id="manage_userwork1">我上传的作品</div>
			<div class="userdoing" id="manage_userwork2">我的收藏</div>
			<div class="userdoing" id="manage_userwork3">下载历史</div>
			<div class="userdoing" id="manage_userwork4">超级管理</div>
			<div id="manage_boardcount">共有？个画板作品</div>
			<div class="userdoing" id="manage_search">
				<img src="../img/我的-搜索.png">
			</div>
			<div class="userdoing" id="manage_upload">
				<img src="../img/我的-上传.png">
			</div>
		</div>
		<div class="empty"></div>
		<div class="manage_drawing_board_list" id="board_list">
			
			<div id="manage_add_board">
				<div class="addButtonForBoard" id="manage_add_btn">
					<img id="add_mark" src="../img/新增画板.png">
				</div>
				<div id="under_add_mark">创建新画板</div>
			</div>
		</div>
		<div class="pageTransition">
				<span class="pageButton" id="homePage" onclick="homePage()">首页</span>
				<span class="pageButton" id="lastPage" onclick="lastPage()">上一页  /</span>
				<span class="pageButton" id="nextPage" onclick="nextPage()">下一页</span>
				<span class="pageButton" id="currentPage" >第<span id="currentPageNumber">1</span>页</span>
				<span class="pageButton" id="totalPage">共<span id="tatolPage">?</span>页</span>
				<span class="pageButton" id="finalPage" onclick="finalPage()">末页</span>
			</div>
	</div>
	<!-- 遮罩层 -->
	<div id="cover_layer"></div>
	<div id="close"></div>
	<div id="show_div">
		<div id="show_title">
			<h3>新增画板</h3>
		</div>
		<div id="show_content">
		<div id="show_input1">画板名称：<input id="show_text" type="text"><br></div>
		
		<div id="show_input2">描述：<textarea id="show_textarea" rows="3" cols="48"></textarea></div>
		
		</div>
		<div id="show_foot">
		<div id="sure">确认 </div>
		</div>
	</div>
	<div id="close2"></div>
	<div id="show_div2">
		<div id="show_title2">
			<h3>编辑画板</h3>
		</div>
		<div id="show_content2">
		<div id="show_input12">画板名称：<input id="show_text2" type="text"><br></div>
		
		<div id="show_input22">描述：<textarea id="show_textarea2" rows="3" cols="48"></textarea></div>
		
		</div>
		<div id="show_foot2">
		<div id="first_delete"><a id="deleteAll" class="delete">删除</a><p>画板及包含的全部素材</p></div>
		<div id="second_delete"><p>只</p><a id="deleteToOther" class="delete">删除</a><p>画板，所含素材移至"未分类"画板</p></div>
		<div id="sure2">确认 </div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/tool.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery/jquery.Jcrop.min.js}"></script>
	<script th:src="@{/js/jquery/jquery.cookie.js}" type="text/javascript"></script>
	<script type="text/javascript" th:src="@{/js/jquery/jquery.color.js}"></script>
	<script type="text/javascript" th:src="@{/js/nav.js}"></script>
	<script type="text/javascript" th:src="@{/js/work_management.js}"></script>
</body>
</html>