<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>作品管理</title>
<link rel="stylesheet" th:href="@{/css/work_management.css}"
	type="text/css">

</head>
<body style="margin: 0;">
	<div class="manage_all">
		<div class="manage_head">
			<iframe MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0
				SCROLLING=no src="/userpage/head" height="56px" width="1440px"></iframe>
		</div>
		<div class="manage_userdoing">
			<div class="userdoing" id="manage_userhead"></div>
			<div class="userdoing" id="manage_username">UserName</div>
			
			<div class="userdoing" id="manage_userwork1">我上传的作品</div>
			<div class="userdoing" id="manage_userwork2">我的收藏</div>
			<div class="userdoing" id="manage_userwork3">下载历史</div>
			<div class="userdoing" id="manage_userwork4">超级管理</div>
			<div id="manage_boardcount">共有？个画板作品</div>
			<div class="userdoing" id="manage_search">
				<img src="../img/我的-搜索.png">
			</div>
			<div class="userdoing" id="manage_upload">
				<img src="../img/我的-上传.png">
			</div>
		</div>
		<div class="manage_drawing_board_list" id="board_list">
		<div class="empty"></div>
			<div id="manage_add_board">
				<div class="addButtonForBoard" id="manage_add_btn">
					<img id="add_mark" src="../img/新增画板.png">
				</div>
				<div id="under_add_mark">创建新画板</div>
			</div>
			<div class="every_board" id="unsorted_board">
				<div class="edit_button">
					<img class="edit_img" src="../img/编辑.png">
				</div>
				<div class="board_covers" >
					<img alt="" src="">
				</div>
				<div class="board_name">
					未分类
					<!-- 这里需要获取 -->
				</div>
				<div class="drawing_count">
					28
					<!-- 这里需要获取 -->
				</div>
				<img class="download_logo" src="../img/下载.png">
				<div class="download_count">
					2008
					<!-- 这里需要获取 -->
				</div>
				<div class="upload_date">
					2009-03-19
					<!-- 这里需要获取 -->
				</div>
			</div>
			
		</div>
	</div>
	<!-- 遮罩层 -->
	<div id="cover_layer"></div>
	<div id="close"></div>
	<div id="show_div">
		<div id="show_title">
			<h3>新增画板</h3>
		</div>
		<div id="show_content">
		<div id="show_input1">画板名称：<input id="show_text" type="text"><br></div>
		
		<div id="show_input2">描述：<textarea id="show_textarea" rows="3" cols="48"></textarea></div>
		
		</div>
		<div id="show_foot">
		<div id="first_delete"><a href="">删除</a>画板及包含的全部素材   </div>
		<div id="second_delete">只<a href="">删除</a>画板，所含素材移至"未分类"画板  </div>
		<div id="sure">确认 </div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery/jquery.Jcrop.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery/jquery.color.js}"></script>
	<script type="text/javascript" th:src="@{/js/work_management.js}"></script>
</body>
</html>