<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztzh.ui.dao.CanvasInfoDomainMapper">
  <resultMap id="BaseResultMap" type="com.ztzh.ui.po.CanvasInfoDomain">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="canvas_name" jdbcType="VARCHAR" property="canvasName" />
    <result column="describe_info" jdbcType="VARCHAR" property="describeInfo" />
    <result column="canvas_type" jdbcType="INTEGER" property="canvasType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
  </resultMap>
  <resultMap id="CanvasResultMap" type="com.ztzh.ui.bo.ManagementCanvasBo">
  	<result column="id" jdbcType="BIGINT" property="canvasId" />
  	<result column="canvas_name" jdbcType="BIGINT" property="canvasName" />
  	<result column="describe_info" jdbcType="BIGINT" property="canvasDesc" />
  	<result column="number" jdbcType="BIGINT" property="materialCount" />
  	<result column="upload_time" jdbcType="BIGINT" property="lastMaterialUploadTime" />
  	<result column="thumbnail_url" jdbcType="BIGINT" property="lastMaterialUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, canvas_name, describe_info, canvas_type, create_time, is_valid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from canvas_info 
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from canvas_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ztzh.ui.po.CanvasInfoDomain">
    insert into canvas_info (id, user_id, canvas_name, 
      describe_info, canvas_type, create_time, 
      is_valid)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{canvasName,jdbcType=VARCHAR}, 
      #{describeInfo,jdbcType=VARCHAR}, #{canvasType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{isValid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ztzh.ui.po.CanvasInfoDomain">
    insert into canvas_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="canvasName != null">
        canvas_name,
      </if>
      <if test="describeInfo != null">
        describe_info,
      </if>
      <if test="canvasType != null">
        canvas_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="canvasName != null">
        #{canvasName,jdbcType=VARCHAR},
      </if>
      <if test="describeInfo != null">
        #{describeInfo,jdbcType=VARCHAR},
      </if>
      <if test="canvasType != null">
        #{canvasType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztzh.ui.po.CanvasInfoDomain">
    update canvas_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="canvasName != null">
        canvas_name = #{canvasName,jdbcType=VARCHAR},
      </if>
      <if test="describeInfo != null">
        describe_info = #{describeInfo,jdbcType=VARCHAR},
      </if>
      <if test="canvasType != null">
        canvas_type = #{canvasType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztzh.ui.po.CanvasInfoDomain">
    update canvas_info
    set <!-- user_id = #{userId,jdbcType=BIGINT}, -->
      canvas_name = #{canvasName,jdbcType=VARCHAR},
      describe_info = #{describeInfo,jdbcType=VARCHAR}
      <!-- canvas_type = #{canvasType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_valid = #{isValid,jdbcType=INTEGER} -->
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectCountByUserId" parameterType="java.lang.Long" resultType="java.lang.Integer">
  select 
  count(user_id)
  from canvas_info
  where user_id = #{userId,jdbcType=BIGINT} and is_valid = 1
  </select>
  <select id="selectCanvasInfoByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
  select c.id as id, c.canvas_name as canvas_name,c.describe_info as describe_info, c.upload_time as upload_time, 
  d.thumbnail_url,c.number 
  from (select a.id as id, a.canvas_name as canvas_name,a.describe_info as describe_info,b.upload_time as upload_time, 
  b.number as number 
  from canvas_info as a 
  left join 
  (SELECT canvas_info_id_private, max(upload_time) as upload_time, COUNT(1) as number 
  from material_info where create_user_id= #{userId,jdbcType=BIGINT} 
  GROUP BY canvas_info_id_private) as b on a.id=b.canvas_info_id_private 
  where a.is_valid=1 and user_id =#{userId,jdbcType=BIGINT} ) as c 
  left join material_info d on c.upload_time = d.upload_time <!-- limit 0,2 -->
</select>
  <select id="selectByUserId" resultMap="CanvasResultMap" > <!-- parameterType="java.lang.Long" -->
  select c.id as id, c.canvas_name as canvas_name,c.describe_info as describe_info, c.upload_time as upload_time, 
  d.thumbnail_url,c.number 
  from (select a.id as id, a.canvas_name as canvas_name,a.describe_info as describe_info,b.upload_time as upload_time, 
  b.number as number 
  from canvas_info as a 
  left join 
  (SELECT canvas_info_id_private, max(upload_time) as upload_time, COUNT(1) as number 
  from material_info where create_user_id= #{userId,jdbcType=BIGINT} 
  GROUP BY canvas_info_id_private) as b on a.id=b.canvas_info_id_private 
  where a.is_valid=1 and user_id =#{userId,jdbcType=BIGINT} ) as c 
  left join material_info d on c.upload_time = d.upload_time limit #{firstCanvas},#{pageSize}
  </select>
  
   <select id="selectByCanvasName" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"></include>
  	from canvas_info where is_valid=1
      and  canvas_name = #{canvasName,jdbcType=VARCHAR}
      and  user_id = #{userId,jdbcType=BIGINT}
  </select>
  
  <select id="getMaterialInfosOfCanvasByMaterialInfoId" resultType="com.ztzh.ui.bo.IconUrlBo">
  select a.id as materialInfoId,
         b.id as canvasId,
         a.png_url as pngUrl 
         from material_info as a, 
         canvas_info as b 
         where a.canvas_info_id_private=b.id
         and a.is_valid=1
         <if test="materialInfoIdList.size()>0">
         and  a.id in <foreach close=")" collection="materialInfoIdList" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
         </if>
         <if test="materialInfoIdList.size()==0">
         and  a.id in <![CDATA[('')]]>
         </if>
  
  </select>
  <select id="selectAllCanvasInfoByUserId" resultMap="CanvasResultMap">
  	select id,canvas_name 
  		from canvas_info where is_valid = 1 
  		 and user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="selectIconNumByCanvasId" resultType="java.lang.Object">
  	SELECT count(c.id) from material_type_info as c,(
		SELECT b.id as id,a.id as canvas_id from canvas_info as a, material_info as b where a.id= b.canvas_info_id_private) as d
		where c.materail_info_id = d.id and c.material_type_code_parent='01' and d.canvas_id = #{canvasId} GROUP BY d.canvas_id
  </select>
</mapper>