<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztzh.ui.dao.MaterialInfoDomainMapper">
  <resultMap id="BaseResultMap" type="com.ztzh.ui.po.MaterialInfoDomain">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="canvas_info_id_private" jdbcType="BIGINT" property="canvasInfoIdPrivate" />
    <result column="canvas_info_id_public" jdbcType="BIGINT" property="canvasInfoIdPublic" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="material_description" jdbcType="VARCHAR" property="materialDescription" />
    <result column="material_type" jdbcType="VARCHAR" property="materialType" />
    <result column="material_url" jdbcType="VARCHAR" property="materialUrl" />
    <result column="thumbnail_url" jdbcType="VARCHAR" property="thumbnailUrl" />
    <result column="png_url" jdbcType="VARCHAR" property="pngUrl" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="color_type" jdbcType="INTEGER" property="colorType" />
    <result column="color_percentage" jdbcType="REAL" property="colorPercentage" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_user_id, canvas_info_id_private, canvas_info_id_public, material_name, 
    material_description, material_type, material_url, thumbnail_url, png_url, upload_time, 
    color_type, color_percentage, is_valid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from material_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from material_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ztzh.ui.po.MaterialInfoDomain">
    insert into material_info (id, create_user_id, canvas_info_id_private, 
      canvas_info_id_public, material_name, material_description, 
      material_type, material_url, thumbnail_url, 
      png_url, upload_time, color_type, 
      color_percentage, is_valid)
    values (#{id,jdbcType=BIGINT}, #{createUserId,jdbcType=BIGINT}, #{canvasInfoIdPrivate,jdbcType=BIGINT}, 
      #{canvasInfoIdPublic,jdbcType=BIGINT}, #{materialName,jdbcType=VARCHAR}, #{materialDescription,jdbcType=VARCHAR}, 
      #{materialType,jdbcType=VARCHAR}, #{materialUrl,jdbcType=VARCHAR}, #{thumbnailUrl,jdbcType=VARCHAR}, 
      #{pngUrl,jdbcType=VARCHAR}, #{uploadTime,jdbcType=TIMESTAMP}, #{colorType,jdbcType=INTEGER}, 
      #{colorPercentage,jdbcType=REAL}, #{isValid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ztzh.ui.po.MaterialInfoDomain">
    insert into material_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="canvasInfoIdPrivate != null">
        canvas_info_id_private,
      </if>
      <if test="canvasInfoIdPublic != null">
        canvas_info_id_public,
      </if>
      <if test="materialName != null">
        material_name,
      </if>
      <if test="materialDescription != null">
        material_description,
      </if>
      <if test="materialType != null">
        material_type,
      </if>
      <if test="materialUrl != null">
        material_url,
      </if>
      <if test="thumbnailUrl != null">
        thumbnail_url,
      </if>
      <if test="pngUrl != null">
        png_url,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="colorType != null">
        color_type,
      </if>
      <if test="colorPercentage != null">
        color_percentage,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="canvasInfoIdPrivate != null">
        #{canvasInfoIdPrivate,jdbcType=BIGINT},
      </if>
      <if test="canvasInfoIdPublic != null">
        #{canvasInfoIdPublic,jdbcType=BIGINT},
      </if>
      <if test="materialName != null">
        #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialDescription != null">
        #{materialDescription,jdbcType=VARCHAR},
      </if>
      <if test="materialType != null">
        #{materialType,jdbcType=VARCHAR},
      </if>
      <if test="materialUrl != null">
        #{materialUrl,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailUrl != null">
        #{thumbnailUrl,jdbcType=VARCHAR},
      </if>
      <if test="pngUrl != null">
        #{pngUrl,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="colorType != null">
        #{colorType,jdbcType=INTEGER},
      </if>
      <if test="colorPercentage != null">
        #{colorPercentage,jdbcType=REAL},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztzh.ui.po.MaterialInfoDomain">
    update material_info
    <set>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="canvasInfoIdPrivate != null">
        canvas_info_id_private = #{canvasInfoIdPrivate,jdbcType=BIGINT},
      </if>
      <if test="canvasInfoIdPublic != null">
        canvas_info_id_public = #{canvasInfoIdPublic,jdbcType=BIGINT},
      </if>
      <if test="materialName != null">
        material_name = #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialDescription != null">
        material_description = #{materialDescription,jdbcType=VARCHAR},
      </if>
      <if test="materialType != null">
        material_type = #{materialType,jdbcType=VARCHAR},
      </if>
      <if test="materialUrl != null">
        material_url = #{materialUrl,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailUrl != null">
        thumbnail_url = #{thumbnailUrl,jdbcType=VARCHAR},
      </if>
      <if test="pngUrl != null">
        png_url = #{pngUrl,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="colorType != null">
        color_type = #{colorType,jdbcType=INTEGER},
      </if>
      <if test="colorPercentage != null">
        color_percentage = #{colorPercentage,jdbcType=REAL},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztzh.ui.po.MaterialInfoDomain">
    update material_info
    set create_user_id = #{createUserId,jdbcType=BIGINT},
      canvas_info_id_private = #{canvasInfoIdPrivate,jdbcType=BIGINT},
      canvas_info_id_public = #{canvasInfoIdPublic,jdbcType=BIGINT},
      material_name = #{materialName,jdbcType=VARCHAR},
      material_description = #{materialDescription,jdbcType=VARCHAR},
      material_type = #{materialType,jdbcType=VARCHAR},
      material_url = #{materialUrl,jdbcType=VARCHAR},
      thumbnail_url = #{thumbnailUrl,jdbcType=VARCHAR},
      png_url = #{pngUrl,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      color_type = #{colorType,jdbcType=INTEGER},
      color_percentage = #{colorPercentage,jdbcType=REAL},
      is_valid = #{isValid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
   <select id="selectByCanvasId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from material_info
    where canvas_info_id_private = #{canvasId,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByCanvasId" parameterType="java.lang.Long">
    delete from material_info
    where create_user_id = #{userId,jdbcType=BIGINT}
    AND canvas_info_id_private = #{canvasId,jdbcType=BIGINT}
  </delete>
  
  <update id="updateByCanvasInfoIdPrivate">
    update material_info
    <set>
      <if test="materialInfoDomain.createUserId != null">
        create_user_id = #{materialInfoDomain.createUserId,jdbcType=BIGINT},
      </if>
      <if test="materialInfoDomain.canvasInfoIdPrivate != null">
        canvas_info_id_private = #{materialInfoDomain.canvasInfoIdPrivate,jdbcType=BIGINT},
      </if>
      <if test="materialInfoDomain.canvasInfoIdPublic != null">
        canvas_info_id_public = #{materialInfoDomain.canvasInfoIdPublic,jdbcType=BIGINT},
      </if>
      <if test="materialInfoDomain.materialName != null">
        material_name = #{materialInfoDomain.materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialInfoDomain.materialDescription != null">
        material_description = #{materialInfoDomain.materialDescription,jdbcType=VARCHAR},
      </if>
      <if test="materialInfoDomain.materialType != null">
        material_type = #{materialInfoDomain.materialType,jdbcType=VARCHAR},
      </if>
      <if test="materialInfoDomain.materialUrl != null">
        material_url = #{materialInfoDomain.materialUrl,jdbcType=VARCHAR},
      </if>
      <if test="materialInfoDomain.thumbnailUrl != null">
        thumbnail_url = #{materialInfoDomain.thumbnailUrl,jdbcType=VARCHAR},
      </if>
      <if test="materialInfoDomain.pngUrl != null">
        png_url = #{materialInfoDomain.pngUrl,jdbcType=VARCHAR},
      </if>
      <if test="materialInfoDomain.uploadTime != null">
        upload_time = #{materialInfoDomain.uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="materialInfoDomain.colorType != null">
        color_type = #{materialInfoDomain.colorType,jdbcType=INTEGER},
      </if>
      <if test="materialInfoDomain.colorPercentage != null">
        color_percentage = #{materialInfoDomain.colorPercentage,jdbcType=REAL},
      </if>
      <if test="materialInfoDomain.isValid != null">
        is_valid = #{materialInfoDomain.isValid,jdbcType=INTEGER},
      </if>
    </set>
    where canvas_info_id_private = #{canvasId,jdbcType=BIGINT}
    and create_user_id = #{userId,jdbcType=BIGINT}
  </update>
 <resultMap type="com.ztzh.ui.bo.MaterialInfoIndex" id="ResultIndexMap">  
   <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="canvas_info_id_private" jdbcType="BIGINT" property="canvasInfoIdPrivate" />
    <result column="canvas_info_id_public" jdbcType="BIGINT" property="canvasInfoIdPublic" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="material_description" jdbcType="VARCHAR" property="materialDescription" />
    <result column="material_type" jdbcType="VARCHAR" property="materialType" />
    <result column="material_url" jdbcType="VARCHAR" property="materialUrl" />
    <result column="thumbnail_url" jdbcType="VARCHAR" property="thumbnailUrl" />
    <result column="png_url" jdbcType="VARCHAR" property="pngUrl" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="color_type" jdbcType="INTEGER" property="colorType" />
    <result column="color_percentage" jdbcType="REAL" property="colorPercentage" />  
<collection property="materialTypeInfoIndex" ofType="com.ztzh.ui.bo.MaterialTypeInfoIndex"  resultMap="ListResultMap" />  
</resultMap>
<resultMap id="ListResultMap" type="com.ztzh.ui.bo.MaterialTypeInfoIndex" >
	<result column="material_type_code_parent" property="materialTypeCodeParent" jdbcType="VARCHAR" />
	<result column="material_type_code_child" property="materialTypeCodeChild" jdbcType="VARCHAR" />
	<result column="material_style_code" property="materialStyleCode" jdbcType="VARCHAR" />
</resultMap>
   <select id="getValidMaterialInfoForIndex" resultMap="ResultIndexMap">
    select 
     a.id,
     a.create_user_id,
     a.canvas_info_id_private,
     a.canvas_info_id_public,
     a.material_name, 
     a.material_description,
     a.material_type,
     a.material_url,
     a.thumbnail_url,
     a.png_url,
     a.upload_time, 
     a.color_type,
     a.color_percentage, 
     a.is_valid,
     b.material_type_code_parent,
     b.material_type_code_child,
     b.material_style_code
    from material_info as a left join material_type_info as b on a.id=b.materail_info_id
    where a.is_valid = 1
  </select>
  
  <insert id="addMaterialInfo" parameterType="com.ztzh.ui.po.MaterialInfoDomain">
		insert into material_info
		 (create_user_id,canvas_info_id_private,canvas_info_id_public,material_name,material_description,
		material_type,material_url,thumbnail_url,png_url,upload_time,color_type,color_percentage,is_valid)
		values 
		(#{createUserId},#{canvasInfoIdPrivate},#{canvasInfoIdPublic},#{materialName},#{materialDescription},
		#{materialType},#{materialUrl},#{thumbnailUrl},#{pngUrl},#{uploadTime},#{colorType},
		#{colorPercentage},#{isValid})
	</insert>
	<select id="selectMaterialIdByMaterialUrl" parameterType="java.lang.String" resultType="java.lang.Long">
		select id from material_info where material_url = #{materialUrl}
	</select>
	
	<select id="getIconMaterialBoByThumbnailUrls" resultType="com.ztzh.ui.bo.IconMaterialBo">
		select a.id as materialInfoId, 
		       a.thumbnail_url as thumbnailUrl
		from material_info as a,
		     material_type_info as b
		    where a.id = b.materail_info_id
		    and b.material_type_code_parent = '01'
		    <if test="thumbnailUrls.size()>0">
		    and a.thumbnail_url in
				<foreach close=")" collection="thumbnailUrls" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
		    </if>
		    <if test="thumbnailUrls.size()==0">
		    and a.thumbnail_url in
				<![CDATA[('')]]>
		    </if>
			
	</select>
		<select id="getIconUrlsByCanvasId" parameterType="java.lang.String" resultType="java.lang.String">
		select png_url as pngUrl from material_info 
		where  canvas_info_id_private = #{canvasId}
		and canvas_info_id_public = #{canvasId}
		limit 20 
	</select>
	
	<select id="getMaterialNumOfCanvasByCanvasId" resultType="java.lang.Integer">
		select count(id) from material_info where 
			canvas_info_id_private = #{canvasId,jdbcType=BIGINT} and is_valid = 1
	</select>
	
	<select id="selectMaterialInfoWithCanvasIdByPage" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />	
    		from material_info	
    		where canvas_info_id_private = #{canvasId,jdbcType=BIGINT} 
    		and is_valid = 1
    		LIMIT #{start},#{end}
	</select>
</mapper>